<!doctype html>
<html lang="ko">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- CSS 초기화   -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  
  <!-- 머티리얼 아이콘을 위한 CDN 설치   -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="../static/styles/global.css">
  <link rel="stylesheet" href="../static/styles/main.css">
  
  <!-- 구글폰트 -->
  
  <title>YouTuverse | Home</title>
  
  <!-- Open Graphs -->
  <meta property="og:title" content="YouTuverse | 홈">
  <meta property="og:title" content="유익한 유튜버 정보를 공유하고 나에게 맞는 유튜버 정보를 얻어갈 수 있는 공간!! YouTuverse 입니다!!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:imgae" content="">
</head>
    <script>
        $(document).ready(function () {
            showYoutuber()
            showTop3Youtuber()

            $(window).scroll(function () {
                // top button controll
                if ($(this).scrollTop() > 100) {
                    $('#up-btn').fadeIn();
                } else {
                    $('#up-btn').fadeOut();
                }
            });

            // 위로 올라가기 버튼
            $("#up-btn").click(function () {
                $('html, body').animate({scrollTop: 0}, '300');
            });

        });

    </script>

</head>
<body>
<!--Header-->
<header>
    <div class="inner">
        <a href="#" class="title">
            <div class="title">YouTuverse</div>
        </a>
        <ul class="menu">
            <li>
                <div class="search">
                    <input type="text" placeholder="검색할 유튜버 입력하세요.">
                    <div class="material-icons">search</div>
                </div>
            </li>
            <li>
                <a href="#">유튜버 추가</a>
            </li>
            <li>
                <a href="/login">로그인</a>
            </li>
            <li>
                <a href="/signup">회원가입</a>
            </li>
        </ul>
    </div>
</header>
<!-- 메인 페이지 -->
<div class="inner">
    <!--위로가기-->
    <div class="top3-cards">
        <h3>좋아요 top3. </h3>
        <div class="cards" id="top3-cards">
        </div>
    </div>
    <div class="all-cards">
        <h3>전체 유튜버</h3>
        <div class="cards" id="all-cards">
        </div>
    </div>
    <img id="up-btn" src="../static/images/up-icon.png" alt="up-icon">

</div>

<script src="../static/js/load.js"></script>
</body>
</html>