<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  
  <!-- css -->
  <link rel="stylesheet" href="../static/styles/global.css">
  <link rel="stylesheet" href="../static/styles/index.css">
  
  <!-- 구글폰트 -->
  
  <title>YouTuverse | 회원가입</title>
  
  <!-- Open Graphs -->
  <meta property="og:title" content="YouTuverse | 회원가입">
  <meta property="og:title" content="유익한 유튜버 정보를 공유하고 나에게 맞는 유튜버 정보를 얻어갈 수 있는 공간!! YouTuverse 입니다!!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:imgae" content="">
</head>

<body>
  <div class="index_page">
    <div class="inner">
      회원가입 페이지
    </div>
  </div>
</body>
</html>