<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 머티리얼 아이콘을 위한 CDN 설치   -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/signup.css">

    <!-- 구글폰트 -->

    <title>YouTuverse | 회원가입</title>

    <!-- Open Graphs -->
    <meta property="og:title" content="YouTuverse | 회원가입">
    <meta property="og:title" content="유익한 유튜버 정보를 공유하고 나에게 맞는 유튜버 정보를 얻어갈 수 있는 공간!! YouTuverse 입니다!!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:imgae" content="">
</head>

<body>
<div class="sign-up-page">
    <!--Header-->
<header>
    <div class="containner">
        <a href="/" id="logo-title">
            <img id="logo-img" src="../static/images/youtuverse_logo.png" alt="유튜버스로고">
            <h1 id="title">YouTuverse</h1>
        </a>
        <ul class="menu">
            <li>
                <div class="search">
                    <input type="text" placeholder="검색할 유튜버 입력하세요.">
                    <div class="material-icons">search</div>
                </div>
            </li>
            <li>
                <a href="/urlsave">유튜버 추가</a>
            </li>
            {% if user %}
            <span>안녕하세요 {{ user['nickname'] }}님!</span>
            <li id="logoutBtn">
                로그아웃
            </li>
            {% else %}
            <li>
                <a href="/login">로그인</a>
            </li>
            <li>
                <a href="/signup">회원가입</a>
            </li>
            {% endif %}
        </ul>
    </div>
</header>
    <div class="inner">

        <div class="sign-up-form">
            <h1>회원가입</h1>
            <form>
                <div class="form-group">
                    <label for="idInput">아이디</label>
                    <input type="text" class="form-control" id="idInput" placeholder="아이디를 입력하세요">
                </div>
                <div class="form-group">
                    <label for="nicknameInput">닉네임</label>
                    <input type="text" class="form-control" id="nicknameInput" placeholder="닉네임을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="pwInput">비밀번호</label>
                    <input type="password" class="form-control" id="pwInput" placeholder="비밀번호 확인">
                </div>
                <div class="form-group">
                    <label for="psCheckInput">비밀번호 확인</label>
                    <input type="password" class="form-control" id="pwCheckInput" placeholder="비밀번호 확인">
                </div>
                <button id="signUpBtn" class="btn btn-primary" }>회원가입</button>
            </form>
        </div>
    </div>
</div>

<script src="../static/js/signup.js"></script>
</body>
</html>