/*inner, 헤더, 카드 등 여러 페이지에서 사용되는 스타일만 넣어주세요.*/
/*그 외 페이지별 css는 개별 css 파일 만들어서 넣어주세요.*/
body {
    /*all: unset;*/
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    background-color: rgb(24 24 24);
    position: relative;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none !important;
}

/* HEADER */
header {
    height: 80px;
    width: 100%;
}

header .containner {
    height: inherit;
    width: 100%;
    min-width: 1200px;
    display: flex;
    background-color: rgb(32 32 32);
    border: rgb(56 55 56);
    position: fixed;

    z-index: 99999;


}

header .containner #logo-title {
    position: absolute;
    height: inherit;
    z-index: 99999;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .containner > #logo-title #logo-img {
    height: inherit;
    object-fit: cover;
}

header .containner #logo-title #title {
    display: inline-block;
    width: 200px;
    padding: 12px 0;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

header .containner ul.menu {
    all: unset;
    height: inherit;
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

header .containner ul.menu span {
    display: block;
    margin: auto 10px auto 10px;
}

header .containner ul.menu li {
    display: block;
    margin: auto 10px;
}

header .containner ul.menu li a {
    padding: 11px 16px;
    display: block;
    margin: auto 10px;
    color: #fff;
    text-decoration: none;
}

header .containner ul.menu li a:hover {
    color: #bbb;
    text-decoration: none;
}

header .search {
    height: 34px;
    position: relative;
    margin: auto 50px;
}

header .search input {
    min-width: 200px;
    max-width: 400px;
    width: 400px;
    height: 34px;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    background-color: rgb(18 18 18);
    color: #fff;
}

header .search .material-icons {
    height: 24px;
    position: absolute;
    padding: 0 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

#up-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    -webkit-box-shadow: 0 1px 2px 0 #777;
    box-shadow: 0 1px 2px 0 #777;
    border-radius: 100px;
    filter: invert(100%);
}

footer {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    height: 80px;
    background-color: rgb(32 32 32);
}

footer > p {
    margin-bottom: 4px;
    font-weight: lighter;
}

footer > a {
    color: #fff;
    font-weight: lighter;
    text-decoration: underline !important;
}
footer > p > span {
    color: red;
}

footer > a:hover{
    color: red;
}

