body {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    background-color: rgb(24 24 24);
    position: relative;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* HEADER */


/* 메인 페이지 */
.inner {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 0;
}


.inner .top3-cards {
    /*position: absolute;*/
    /*    top: 80px;*/
}

.inner .top3-cards h3 {
    /*background-color: rgb(24 24 24);*/
    /*background-color: yellow;*/
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
}

.inner .cards {
    background-color: rgb(32 32 32);
    border-radius: 10px;
    width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.inner .cards .rank {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.inner .cards .card {
    width: 300px;
    height: 200px;
    background-color: rgb(60 63 64);
    border-radius: 10px;
    position: relative;
    margin: 25px;
    transition: transform .8s,
    background-color 0.6s;
}

.inner .cards .card:hover {
    background-color: rgb(60 63 64);
    filter: brightness(70%);
    transform: scale(1.2);
    z-index: 999;
}

.inner .cards .card a {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: center;


    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.inner .cards .card a .card-img {
    width: 120px;
    height: 120px;
    margin: auto 8px;
}

.inner .cards .card a .card-title {
    color: #fff;
    text-align: center;
    display: block;
    margin: auto 0;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;


}

.inner .all-cards h3 {
    background-color: rgb(24 24 24);
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
}



